.stepeight-container {
    padding: 40px;
    background-color: rgb(193, 191, 189);
}

.stepeight-title {
    font-size: 2.25rem;
    font-family: "Syne", sans-serif;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 30px;
}

.boxsection {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;
    margin: 20px 420px 30px 420px;
}


.iconcheck {
    font-size: 3rem;
    color: #eeb746;
    margin-right: 20px;
}

.stepeight-name {
    font-size: 1.5rem;
    padding-bottom: 10px;
}


@media (min-width: 1391px) and (max-width: 1600px) {
    .stepeight-container {
        padding: 40px;
        background-color: rgb(193, 191, 189);
    }
    
    .stepeight-title {
        font-size: 2.25rem;
        font-family: "Syne", sans-serif;
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        margin-top: 30px;
    }
    
    .boxsection {
        display: flex;
        justify-content: center;
        border-bottom: 1px solid black;
        margin: 20px 380px 30px 380px;
    }
    
    
    .iconcheck {
        font-size: 3rem;
        color: #eeb746;
        margin-right: 20px;
    }
    
    .stepeight-name {
        font-size: 1.5rem;
        padding-bottom: 10px;
    }
}

@media (min-width: 1000px) and (max-width: 1390px) {
    .stepeight-container {
        padding: 40px;
        background-color: rgb(193, 191, 189);
    }
    
    .stepeight-title {
        font-size: 2.25rem;
        font-family: "Syne", sans-serif;
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        margin-top: 30px;
    }
    
    .boxsection {
        display: flex;
        justify-content: center;
        border-bottom: 1px solid black;
        margin: 20px 210px 30px 210px;
    }
    
    
    .iconcheck {
        font-size: 3rem;
        color: #eeb746;
        margin-right: 20px;
    }
    
    .stepeight-name {
        font-size: 1.5rem;
        padding-bottom: 10px;
    }
}

@media (min-width: 760px) and (max-width: 1000px)   {
    .stepeight-container {
        padding: 40px;
        background-color: rgb(193, 191, 189);
    }
    
    .stepeight-title {
        font-size: 2.25rem;
        font-family: "Syne", sans-serif;
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        margin-top: 30px;
    }
    
    .boxsection {
        display: flex;
        justify-content: center;
        border-bottom: 1px solid black;
        margin: 20px 80px 30px 80px;
    }
    
    
    .iconcheck {
        font-size: 3rem;
        color: #eeb746;
        margin-right: 20px;
    }
    
    .stepeight-name {
        font-size: 1.5rem;
        padding-bottom: 10px;
    }
}

@media (min-width: 400px) and (max-width: 759px) {
    .stepeight-container {
        padding: 40px;
        background-color: rgb(193, 191, 189);
    }
    
    .stepeight-title {
        font-size: 1.75rem;
        font-family: "Syne", sans-serif;
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        margin-top: 10px;
        margin-left: 10px;
    }
    
    .boxsection {
        display: flex;
        justify-content: center;
        border-bottom: 1px solid black;
        margin: 20px 20px 30px 20px;
    }
    
    
    .iconcheck {
        font-size: 2.5rem;
        color: #eeb746;
        margin-right: 20px;
    }
    
    .stepeight-name {
        font-size: 1.5rem;
        padding-bottom: 10px;
    }
}


@media (min-width: 350px) and (max-width: 399px) {
    .stepeight-container {
        padding: 40px;
        background-color: rgb(193, 191, 189);
    }
    
    .stepeight-title {
        font-size: 1.75rem;
        font-family: "Syne", sans-serif;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        margin-top: 10px;
        margin-left: 10px;
    }
    
    .boxsection {
        display: flex;
        justify-content: center;
        border-bottom: 1px solid black;
        margin: 20px 0px 30px 0px;
    }
    
    
    .iconcheck {
        font-size: 2.5rem;
        color: #eeb746;
        margin-right: 20px;
    }
    
    .stepeight-name {
        font-size: 1.5rem;
        padding-bottom: 10px;
    }   
}

@media (min-width: 300px) and (max-width: 349px) {
    .stepeight-container {
        padding: 40px 20px;
        background-color: rgb(193, 191, 189);
    }
    
    .stepeight-title {
        font-size: 1.75rem;
        font-family: "Syne", sans-serif;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        margin-top: 0px;
        margin-left: 10px;
    }
    
    .boxsection {
        display: flex;
        justify-content: center;
        border-bottom: 1px solid black;
        margin: 20px 0px 30px 0px;
    }
    
    
    .iconcheck {
        font-size: 2.5rem;
        color: #eeb746;
        margin-right: 20px;
    }
    
    .stepeight-name {
        font-size: 1.5rem;
        padding-bottom: 10px;
    }   
}